*~
*.exe
*.dll
*.lib
*.log
*.diff
*.patch
*.old
*.bak
*.orig
*.rej
*.aps
*.ncb
*.vcproj.*.user
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.obj
*.res
*.exp
*.ilk
*.pdb
bin/win32/*
bin/x64/*
src/*/ipch/*
src/*/win32/*
src/*/x64/*
src/*/*/ipch/*
src/*/*/win32/*
src/*/*/x64/*
